.Profile__button_item {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: none;
    background-color: white;
    color: #000000;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin-top: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.Profile__button_item:hover {
    color: red;
    font-weight: 500;
}