.MoviesCard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    /*row-gap: 10px;*/
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
}

