.Techs__description{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    max-width: 460px;
    margin: 0 auto 100px auto;
    letter-spacing: -0.04em;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .Techs__description {
        margin: 0 auto 83px auto;
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 340px) {
    .Techs__description {
        
    }
}

@media screen and (max-width: 321px) {
    .Techs__description {
        max-width: 292px;
        font-size: 11px;
        line-height: 16px;
        margin: 0px auto 50px auto;
    }
}