.portfolio {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    /*display: grid;
    grid-template-columns: repeat(3,min-content);
    grid-template-rows: min-content;
    column-gap: 30px;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 85px;
}

.portfolio__space{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.portfolio__holder {
    position: relative;
    align-self:flex-start;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 8;
}

.portfolio__avatar {
    max-width: 270px;
    min-height: 327px;
    object-fit: cover;
    margin-top: 66px;
    /*margin-right: 30px;*/
    border-radius: 10px;
    box-sizing: border-box;
}

.portfolio__info {
    display: grid;
    column-gap: 270px;
    align-items: baseline;
}

.portfolio__title {
    color: #000000;
    width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin-top: 66px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.portfolio__subtitle {
    color: #000000;
    width: 600px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    mix-blend-mode: normal;
    justify-self: flex-start;
    margin-top: 18px;
    margin-bottom: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.portfolio__about {
    color: #000000;
    width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    mix-blend-mode: normal;
    margin-bottom: 99px;
}

.portfolio__description {
    color: #000000;
    width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    mix-blend-mode: normal;
    margin: 0;
}

.portfolio__link {
    text-decoration: none;
    margin-right: 20px;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.portfolio__title-item {
    color: #A0A0A0;
    width: 250px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    mix-blend-mode: normal;
    margin-top: 101px;
    margin-bottom: 50px;
    grid-column-start: 1;
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 3;
}

.portfolio__item-web {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
}