.FormList__button_span {
    color:#A0A0A0;;
    margin-top: 0;
    text-align: center;
    font-style: normal;
    margin-top: 16px;
    margin-bottom: 70px;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 768px) {
    .FormList__button_span {
        margin-bottom: 232px;
    }
}

@media screen and (max-width:321px) {
    .FormList__button_span {
        font-size: 12px;
        line-height: 15px;
        margin-top: 14px;
        margin-bottom: 30px;
    }
}