.FormList__button_span {
    color:#A0A0A0;;
    margin-top: 0;
    text-align: center;
    font-style: normal;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 650px) {
    .FormList__button_span {
        margin-top: 25px;
        margin-left: 22px;
        margin-right: 22px;
        font-size: 18px;
        line-height: 22px;
    }
}