.Movies__checkbox {
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
    align-self: center;
    width: 36px;
    height: 20px;
    background: #ddd;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-left: 29px;
}

.Movies__checkbox:checked {
    background: #2BE080;
}

.Movies__checkbox:after{
    position: absolute;
    content: "";
    
    width: 20px;
    
    height: 20px;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
            box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.8);
            transform: scale(.8);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.Movies__checkbox:checked:after{
    left: calc(100% - 20px);
}

@media screen and (max-width: 768px) {
    .Movies__checkbox {
        margin-left: 19px;
    }
}

@media screen and (max-width: 321px) {
    .Movies__checkbox {

    }
}