.Movies__add-button {
    display: flex;
    background-color: #FFFFFF;
    border: 2px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 320px;
    min-height: 36px;
    margin: 80px auto 50px auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .Movies__add-button {
        margin-top: 36px;
        min-width: 282px;
    }
}
