.FormList__button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: #2BE080;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    min-width: 396px;
    min-height: 50px;
    padding: 0;
    color: #ffffff;
    margin-top: 69px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    outline: none;
}

.FormList__button:hover {
    opacity: 0.85;
}

.FormList__button:disabled {
    background-color: #000000;
    color: #000000;
    border: 1px solid #000000;
    opacity: 0.2;
    pointer-events: none;
    /*-webkit-user-select: none;*/
}

@media screen and (max-width: 650px) {
    .FormList__button {
        min-width: 238px;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
}