.MainStack {
    max-width: 1140px;
    width: 89.0625vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .MainStack {
        max-width: 668px
    }
}

@media screen and (max-width: 321px) {
    .MainStack {
        max-width: 284px
    }
}