.MainStack {
    width: 1140px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.MainStack__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #000000;
    padding-top: 110px;
    padding-bottom: 23px;
    margin: 0;
    border-bottom: 1px solid#000000;
}