.portfolio__title {
    color: #000000;
    max-width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin-top: 66px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .portfolio__title {
        max-width: 348px;
        font-size: 40px;
        line-height: 40px;
    }
}

@media screen and (max-width: 321px) {
    .portfolio__title {
        max-width: 292px;
        font-size: 30px;
        line-height: 36px;
        margin-top: 40px;
    }
}
