.AboutProject {
    width: 1140px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(255, 44, 44, 0.7);
}

.AboutProject__title {
    width: 550px;
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    border: 1px solid rgba(255, 44, 44, 0.7);
}

.AboutProject__title:last-child {
    margin-right: 0;
}

.AboutProject__description {
    width: 550px;
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
    border: 1px solid rgba(255, 44, 44, 0.7);
}

.AboutProject__description:last-child {
    margin-right: 0;
}

/*.AboutProject__progressData {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}*/