.footer__links-list {

    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

@media screen and (max-width:768px) {
    .footer__links-list {
        padding-right: 0;
        margin-right: 30px;
    }
}

@media screen and (max-width:390px) {
    .footer__links-list {
        margin-top: 30px;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
}