.footer {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    margin: 0;
    /*margin-top: 92px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 24px;*/
    justify-content: space-between;
    /*border: 1px solid rgba(255, 44, 44, 0.7);*/
}

/*@media screen and (max-width:1279px) {
    .Footer {
        margin-left: 100px;
        margin-right: 100px;
    }
}*/

@media screen and (max-width:768px) {
    .footer__copyright {
        max-width: 282px;
        margin-top: 48px;
        margin-left: 19px;
        margin-right: 19px;
        margin-bottom: 36px;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width:390px) {
    .footer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }
}