.portfolio__link {
    text-decoration: none;
    margin-right: 20px;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.portfolio__link:hover {
    color: #2BE080;
    transition: 0.7s
}