.ProgressBar__text {
    color: black;
    padding-top: 9px;
    padding-bottom: 9px;
    margin: 0;
}

@media screen and (max-width: 321px) {
    .ProgressBar__text{
        padding-top: 11px;
        padding-bottom: 11px;
    }
}