.MoviesCard__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 246px;
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 21px;
    margin-bottom: 31px;
}