.Profile__input_name {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 410px;
    background-color:#ffffff;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    color: #000000;
    font-weight: 500;
    font-style: normal;
    font-size: 11px;
    line-height: 13px;
    padding: 0;
    border: none;
    outline: none;
}

@media screen and (max-width: 460px) {
    .Profile__input_name {
        width: 280px;
    }
}

@media screen and (max-width: 321px) {
    .Profile__input_name {
        width: 260px;
    }
}