.NavTab__list { 
    display: flex; 
    width: 308px; 
    margin-top: 151px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 22px; 
    justify-content: space-between; 
    border: 1px dashed red; 
} 