.ProgressBar {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    color: #F2F2F2;
    min-height: 36px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    margin-bottom: 14px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ProgressBar:last-child {
    margin-top: 0;
    min-height: auto;
    margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
    .ProgressBar{
        margin-top: 93px;
        margin-bottom: 14px;
    }
}

@media screen and (max-width: 321px) {
    .ProgressBar{
        font-size: 11px;
        line-height: 13px;
        margin-top: 60px;
        margin-bottom: 10px;
        min-height: 35px;
    }
}