.ProgressBar {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    color: #F2F2F2;
    min-height: 36px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    margin-bottom: 14px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ProgressBar__text {
    color: black;
    padding-top: 9px;
    padding-bottom: 9px;
    margin: 0;
}

.ProgressBar__span {
    color: #A0A0A0;
    padding: 0;
    margin: 0;
}

.ProgressBar:last-child {
    margin-top: 0;
    min-height: auto;
}