.header__logo {
    margin: 18px 8px 18px 70px;
}

.header__logo:hover {
    opacity: 0.7;
}


@media screen and (max-width: 768px) {
    .header__logo {
        margin: 18px 8px 18px 30px;
    }
}

@media screen and (max-width:321px) {
    .header__logo {
        margin: 18px 8px 18px 14px;
    }
}