.footer__description {
    max-width: 1140px;
    display: flex;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    justify-content: center;
    border-bottom: 1px solid #E8E8E8;;
}

@media screen and (max-width: 321px) {
    .footer__description {
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 21px;
        margin-bottom: 0;
    }
}